cabarchive==0.2.4
chardet==5.2.0
charset-normalizer==3.4.3
contourpy==1.3.3
cx_Freeze==8.4.0
cx_Logging==3.2.1
cycler==0.12.1
filelock==3.18.0
fonttools==4.59.0
kiwisolver==1.4.9
lief==0.16.6
matplotlib==3.10.5
numpy==2.3.2
packaging==25.0
pandas==2.3.1
pillow==11.3.0
py-cpuinfo==9.0.0
pyparsing==3.2.3
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
python-dateutil==2.9.0.post0
pytz==2025.2
pywin32==311
reportlab==4.4.3
six==1.17.0
striprtf==0.0.29
tzdata==2025.2
